:root {
    --violet: hsl(257, 40%, 49%);
    --soft-magenta: hsl(300, 69%, 71%);
}

body {
    background-image: url('images/bg-desktop.svg');
    background-color: var(--violet);
}

#main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 85%;
    font-family: 'Poppins', sans-serif;
}

#logo {
    position: relative;
}

#logo img {
    width: 12rem;
    height: auto;
    margin-bottom: 1rem;
}

#sub-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 8vh;
}

#illustration img {
    width: 700px;
    height: auto;
}

#written-content {
    width: 500px;
    height: auto;
}

h1 {
    font-size: 45px;
    color: white;
}

p {
    font-size: 16px;
    margin: 1rem 0;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

#reg {
    border: 1px solid white;
    border-radius: 30px;
    padding: 12px;
    width: 160px;
    height: auto;
    color: var(--violet);
    font-size: 16px;
    margin-left: 4px;
}

#reg:hover {
    cursor: pointer;
    border-color: var(--soft-magenta);
    background-color: var(--soft-magenta);
    color: white;
}

#bottom-container {
    position: relative;
    display: inline;
    float: right;
}

.hiddenlinks {
    display: none;
}

.sociallinks, .hiddenlinks {
    margin: 0 2px;
}

.sociallinks:hover, .hiddenlinks:hover {
    cursor: pointer;
}

